page-contact {


.item-ios{
	padding-left: 10px;
	color: #000;
}

.item-md{
	padding-left: 10px;
	color: #000;
}

.btnlogin{
	margin-top:20px;
}


.register{
	color:#000063;
	background-color:#fff;
	margin-top: 20px;

}

.signin{
	margin-top: 20px;
	background-color: #000063;
	height: 50px;
}

}
