page-login {


.item-ios{
	padding-left: 10px;
	color: #000;
}

.item-md{
	padding-left: 10px;
	color: #000;
}

.btnlogin{
	margin-top:20px;
}


.register{
	
	background-color:#fff;
	margin-top: 20px;

}

.signin{
	margin-top: 20px;
	height: 50px;
}
.password
{
background: #b0f24d;  margin-top: 10px; padding-left:5px;	
}




}
