<ion-header>
  <ion-navbar>
    <ion-title text-center>Reminder</ion-title>
  
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab color="primary" top right edge>
    <button class="addReminder" (click)="addReminder($event)" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
 


<p>Swipe Right to delete</p>

<ion-list  *ngIf="calendarEvents.length > 0">
  <ion-item-sliding>
    <ion-item *ngFor="let cal of calendarEvents; let in=index">
      <ion-avatar item-left>
          <ion-icon style="font-size:3em;" name="ios-alarm-outline" large></ion-icon>
      </ion-avatar>
      <h3 style="font-weight: 700;">{{ calendarEvents[in].title }}</h3>
      <p>{{ calendarEvents[in].startDate.slice(0,10) }} <strong>To</strong> {{ calendarEvents[in].endDate.slice(0,10) }}</p> 
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="deleteReminder(calendarEvents[in])">Delete </button>
     
    </ion-item-options>
   
  </ion-item-sliding>
</ion-list>

</ion-content>
 