page-cart {

.image{
	width:85px;
	height:85px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:0;
}


.button-full-md{
	position: absolute;
	bottom: -4px;
	box-shadow: none;
	height: 10%;
}



.button-full-ios{
	position: absolute;
	bottom: -4px;
}

ion-col{
	padding:0px;
}

.item-ios{
	padding-bottom: 15px;
}

h1, h2, h3, h4, h5, h6{
	line-height:0.3;
}
}
