page-store-request-view {

.item-ios{
	padding-left: 0px;
}

.item-md{
	padding-left: 0px;
}



.image{
	width:85px;
	height:85px;
}

h1, h2, h3, h4, h5, h6 {
	line-height:0;
}

.title{
	font-size: 80%;

  
 
}

.subtitle{
	font-size: 80%;
}

ion-col{
	padding:0px;
}

.item-ios{
	padding-bottom: 15px;
}

h1, h2, h3, h4, h5, h6{
	line-height:1.5;
}
}
