page-profile {


.button-full-md{
	position: absolute;
	bottom: -4px;
	box-shadow: none;
	height: 10%;
}



.button-full-ios{
	position: absolute;
	bottom: -4px;
}


.item-ios{
	padding-left: 0px;
	margin-top: 10px;
}

.item-md{
	padding-left: 0px;
	margin-top: 10px;
}


}
