page-view-request {


.button-full-ios{
	position: absolute;
	bottom: -4px;
}

.button-full-md{
	position: absolute;
	bottom: -4px;
	box-shadow: none;
	height: 10%;
}

.item-ios{
	padding-left: 0px;
}

.item-md{
	padding-left: 0px;
}

}
