page-about {

.card{
padding-bottom:10px;
}

.card-title{
	margin-top: 10px;
}

.divcard{
width: 50%;
	float: left;
	
}


	.card-stuff{
	height: 14.8em;
	position: relative;
	}

	.card-stuff button {
		margin-bottom: 0;
		font-size: 70%;
		border-radius: 0px;
		position: absolute;
		bottom:0;

	}

	.force {
		flex: 0 0 30%;
		max-width: 30%;
	}

	ion-row {
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;

	}

	

	.card-stuff ion-card-header {
	 margin-top: 0px;
	 padding-right: 0px;
	}

		.card-stuff h5 {
		padding-top: 10px;
		font-size: 70%;
		
	}

	.container {
		margin-top: 0px;
		padding-top: 0px;
	}

	@media all and (max-width: 600px)
{
.force {
		flex: 0 0 50%;
		max-width: 50%;
	}
    
}

	

}
